.footer .content, .social{
    flex-direction: row;
    display: flex;
    color: #ffffff;
}

.footer{
    height: 60px;
}

.footer__left, .footer__right{
    display: flex;
    height: rem(60px);
}

.footer__left{
    width: 65%;
    display: flex;
    align-items: center;
}

.footer__right{
    width: 35%;
}

.phone{
    color: #e45028;
}

.footer__right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: rem(18px);
}

.social__item{
    margin:0 rem(10px);
}

.social__link{
    color: #ffffff;
    opacity: 0.5;
    &:hover{
        opacity: 1;
    }
}

.social__svg{
    // margin-top: rem(10px);
    width: rem(20px);
    height: rem(20px);
}