.fourth-section{
    background-image: url("../img/fourth-bg.jpg");
    .content{
        position: relative;
        width: 100%;
        max-width: 100%;
        padding: 0;
    }   
}

.gray{
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: rgba(#2f3234, 0.9);
    display: flex;
    justify-content: center;
    .title{
        margin-top: rem(30px);
    }
    @include tablets{
        width: 100%;
    }
}

.accordeon{
    padding-left: 10%;
    width: 100%;
    color: #ffffff;
    @include tablets{
        padding-left: 0;
        text-align: center;
    }
}

.accordeon__list{
    display: flex;
    flex-direction: column;
    @include tablets{
        align-items: center;
    }
}

.accordeon__link{
    margin-top: rem(20px);
    @include tablets{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.accordeon__full-name{
    z-index: 10;
    display: flex;
    align-items: center;
    @include font("g-regular");
    font-size: rem(14px);
    line-height: rem(28px);
    @include tablets{
        font-size: rem(24px);
        line-height: 28px;
    }
}

.accordeon__name{
    cursor: pointer;
    &:hover{
        color: #f8b43a;
    }
}

.accordeon__arrow{
    transition: 0.2s;
    width: 0;
    height: 0;
    border-top: rem(8px) solid #f8b43a;
    border-left: rem(5px) solid transparent;
    border-right: rem(5px) solid transparent;
    margin-right: rem(10px);
}

.is-activTeam{
    .accordeon__arrow{
        transform: rotate(180deg);
    }

    .accordeon__name{
        color: #f8b43a;
    }
}





.accordeon__people{
    overflow: hidden;
    // height: 0;
    display: none;
    // transition:  max-height 1s;
    // opacity: 1;
}



.accordeon__human{
    display: flex;
    height: 100%;
    margin-top: rem(20px);
    margin-left: rem(25px);
    @include tablets{
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
}

.accordeon__photo{
    width: rem(100px);
    height: rem(100px);
}

.accordeon__item{
    width: rem(215px);
    padding: 0 rem(10px);
    @include tablets{
        width: 95%;
    }
}

.accordeon__photo-pic{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.accordeon__text{
    font-size: rem(14px);
    margin-top: rem(10px);
}
