.header{
    height: 69px;
    width: 100%;
    display: flex;
    @include font(u-medium);
    z-index: 200;
}

.nav{
    margin-left: auto;
    height: 100%;
}

.sidebar{
    display: flex;
    margin-right: 20px;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.sidebar__link{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    &:hover{
        text-decoration: underline;
    }
}

.sidebar__item{
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    &:after{
        display: inline-block;
        vertical-align: middle;
        content: "";
        width: 4px;
        height: 4px;
        margin: 0 8px;
        background-color: #ffffff;
        border-radius: 50%;
        
    }
    &:last-child{
        &:after{
            display: none;
        }
    }
}

.sidebar__dotted{
    font-size: 5px;
    color: #ffffff;
    margin-bottom: 1px;
}

.order{
    display: flex;
    height: 100%;
    align-items: center;
}

.order__btn{
    text-transform: uppercase;
    font-size: 13px;
    border: none;
    transition: 0.3s;
    background-color: #e45028;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    width: 97px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    &:hover{
        background: #c1401e;
    }
}

  