.header{
    height: rem(69px);
    width: 100%;
    display: flex;
    @include font(u-light);
    z-index: 200;
    font-size: rem(13px);
}

.nav{
    min-width: 70%;
    margin-left: auto;
    height: 100%;
    @include tablets{
        min-width: 50%;
    }
}

.sidebar{
    display: flex;
    margin-right: rem(15px);
    height: 100%;
    justify-content: space-around;
    align-items: center;
    @include tablets{
        display: none;        
	}
}

.sidebar__link{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    &:hover{
        text-decoration: underline;
    }
}

.sidebar__item{
    display: inline-block;
    vertical-align: middle;
    font-size: rem(13px);
}

.sidebar__dotted{
    display: block;
    width: rem(4px);
    height: rem(4px);
    background-color: #ffffff;
    border-radius: 50%;
    // margin-bottom: rem(3px);
}

.order{
    display: flex;
    height: 100%;
    align-items: center;
}

.order__btn{
    text-transform: uppercase;
    font-size: rem(13px);
    border: none;
    transition: 0.3s;
    background-color: #e45028;
    color: #ffffff;
    text-decoration: none;
    border-radius: rem(5px);
    width: rem(97px);
    height: rem(35px);
    text-align: center;
    line-height: rem(35px);
    &:hover{
        background: #c1401e;
    }
}

.slim-menu{
    display: none;
    @include tablets{
        margin-left: 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 30px;
        &:hover{
            .slim__row{
                background-color: #f8b43a;
            }
        }
        .slim__row{
            width: 100%;
            margin-top: 5px;
            border-radius: 2px;
            height: 5px;
            background-color: #ffffff;
        }
	}
}

  