.second-section{
    background-image: url("../img/second-bg.jpg");
}

.title-second{
    color: #2f3234;
    text-align: center;
}

.second-section__mainblock{
    padding-top: rem(35px);
}

.about{
    display: flex;
    justify-content: space-around;
}

.about__item{
    width: 30%;
}

.about__pic{
    text-align: center;
}

.about__svg{
    width: rem(100px);
    height: rem(100px);
}

.about__img{
    display: inline-block;
    height: rem(85px);
}

.about__title{
    text-align: center;
    @include font(l-medium);
    font-size: rem(24px);
    line-height: rem(28px);
    color: #2f3234;
    padding-top: rem(30px);
}

.about__text{
    text-align: center;
    font-size: rem(14px);
    line-height: rem(24px);
    color: #2f3234;
    @include font(u-light);
    padding-top: rem(20px);
}