.seventh-section{
    background-image: url("../img/seventh-bg.jpg");
    .content{
        padding: 0 rem(20px);
    }
    .title{
        @include tablets{
            text-align: center;
        }
    }
}

.form{
    display: flex;
    color: #ffffff;
    @include tablets{
        flex-direction: column;
        align-items: center;
    }
}

.form__left, .form__right{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: rem(20px);
    &:first-child{
        margin-left: 0;
    }
    @include tablets{
        width: 80%;
        margin-left: 0;
    }
    @include phones{
        width: 100%;
    }
}

.form__row{
    margin-top: rem(15px);
    display: flex;
}
.form__block{
    font-size: rem(14px);
    @include font(u-light);
    line-height: rem(24px);
    flex: 1;
    margin-left: rem(20px);
    cursor: pointer;
    &:first-child{
        margin-left: 0;
    }
}

.form__input{
    box-sizing: border-box;
    border: none;
    padding: rem(5px) rem(20px);
    background: #ffffff;
    border-radius: rem(5px);
    width: 100%;
}

.form__text{
    width: 100%;
    height: rem(94px);
    border: none;
    border-radius: rem(5px);
    padding: rem(5px) rem(20px);
    box-sizing: border-box;
}

.form__pay{
    margin-top: rem(2px);
}

.form__radio, .form__checkbox{
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.form__span{
    padding-left: rem(3px);
    display: inline-block;
    vertical-align: middle;
}

.form__callback{
    margin-top: rem(4px);
}

.btn{
    margin-top: rem(5px);
}

.btn__clear{
    margin-left: rem(10px);
    text-decoration: none;
    color: #ffffff;
    &:hover{
        opacity: 0.5;
    }
}
